<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="Социальная диагностика">
    <meta name="author" content="ThemePixels">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Социальная диагностика</title>
    <!-- vendor css -->
    <link href="../lib/@fortawesome/fontawesome-free/css/all.min.css" th:href="@{/lib/@fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link href="../lib/jqvmap/jqvmap.min.css" th:href="@{/lib/jqvmap/jqvmap.min.css}" rel="stylesheet">
    <!-- template css -->
    <link rel="stylesheet" href="../assets/css/cassie.css">
</head>
<body>
    <div class="sidebar" th:fragment="sidebar(rootTab, subTab)">
        <div class="sidebar-header">
            <div>
                <a href="../index.html" class="sidebar-logo"><span>Социальная диагностика</span></a>
            </div>
        </div><!-- sidebar-header -->
        <div id="dpSidebarBody" class="sidebar-body">
            <ul class="nav nav-sidebar">
                <li class="nav-label"><label class="content-label">Панель управления</label></li>
                <li class="nav-item">
                    <a class="nav-link with-sub" th:classappend="${rootTab == 'tests' ? 'active' : ''}"><i data-feather="list"></i>Тесты</a>
                    <nav class="nav nav-sub">
                        <a th:href="@{'/workplace/categories'}" class="nav-sub-link" th:classappend="${subTab == 'categoriesAndTests' ? 'active' : ''}">Категории</a>
                        <a th:href="@{'/workplace/addTest'}" class="nav-sub-link" th:classappend="${subTab == 'addTest' ? 'active' : ''}">Добавить тест</a>
                    </nav>
                </li>
                <li class="nav-item show">
                    <a class="nav-link with-sub" th:classappend="${rootTab == 'users' ? 'active' : ''}"><i data-feather="users"></i>Пользователи</a>
                    <nav class="nav nav-sub">
                        <a class="nav-sub-link" th:classappend="${subTab == 'findUser' ? 'active' : ''}">Найти пользователя</a>
                        <a class="nav-sub-link" th:classappend="${subTab == 'allUsers' ? 'active' : ''}">Все пользователи</a>
                    </nav>
                </li>
                <li class="nav-item">
                    <a class="nav-link with-sub" th:classappend="${rootTab == 'testResults' ? 'active' : ''}"><i data-feather="bar-chart-2"></i>Результаты тестов пользователей</a>
                    <nav class="nav nav-sub">
                        <a class="nav-sub-link" th:classappend="${subTab == 'findTestResult' ? 'active' : ''}">Найти результат</a>
                        <a class="nav-sub-link" th:classappend="${subTab == 'statistics' ? 'active' : ''}">Статистика</a>
                    </nav>
                </li>
            </ul>
        </div><!-- sidebar-body -->
    </div><!-- sidebar -->

    <script th:src="@{/lib/jquery/jquery.min.js}" src="../lib/jquery/jquery.min.js"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}" src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/feather-icons/feather.min.js}" src="../lib/feather-icons/feather.min.js"></script>
    <script th:src="@{/lib/perfect-scrollbar/perfect-scrollbar.min.js}" src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script th:src="@{/lib/js-cookie/js.cookie.js}" src="../lib/js-cookie/js.cookie.js"></script>
    <script th:src="@{/assets/js/cassie.js}" src="../assets/js/cassie.js"></script>
</body>
</html>